.example-spacer {
    flex: auto;
    }
  
    table {
      width: 100%;
    }
    
    .mat-form-field {
      font-size: 14px;
      width: 100%;
    }
    
    td, th {
      width: 0%;
    }
  
    .container
    {
      max-width: 1200px;
      margin: 0 auto;
    }
  
    .color{
      background: rgb(64,123,222);
      background-color:rgb(64,123,222);
        background-image: radial-gradient(650px circle at 0% 0%),
    }
   
  

  
    .position{
      float :right;
      width: 100px;
      border: #678add;
      margin-right: 5%;
      text-align: center;
    }
  
   .color1{
    background-color: white;
    color: black;
   }
  
    
  .form-control
  {
    width: 20%;
  }
  
  