<section class="h-100 h-custom gradient-custom-2">
    <mat-icon mat-dialog-close class="cancel" style="color: red;">close</mat-icon>
   
    <div class="container py-5 h-100">
  
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">

                <form [formGroup]="employeeForm">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5" style="color: #4835d4;">Employee Details</h3>
  
  
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
  
                        <div class="form-outline">
                            <label class="form-label" >First name</label>
                          <input type="text" formControlName="first_name"  class="form-control " placeholder="Enter First Name"/>
                          <span style="color: red;"
                          *ngIf="employeeForm.get('first_name')?.hasError('required') && employeeForm.get('first_name')?.touched">
                          <small>*Name is required</small></span>
                          <small style="color: red; " *ngIf="employeeForm.get('first_name')?.hasError('pattern')">
                            *Name only contains letters
                          </small>
                        </div>
  
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
  
                        <div class="form-outline">
                            <label class="form-label" >Last name</label>
                          <input type="text"  formControlName="last_name" class="form-control " placeholder="Enter Last Name"/>
                          <span style="color: red;"
                          *ngIf="employeeForm.get('last_name')?.hasError('required') && employeeForm.get('last_name')?.touched">
                          <small>*Name is required</small></span>
                          <small style="color: red; " *ngIf="employeeForm.get('last_name')?.hasError('pattern')">
                            *Name only contains letters
                          </small>
                        </div>
  
                      </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 mb-4 pb-2">
    
                          <div class="form-outline">
                            <label class="form-label" >Email ID</label>
                            <input type="email" formControlName="email_id"  class="form-control " placeholder="Enter Email Address
                            " />
                            <span style="color: red;"
                            *ngIf="employeeForm.get('email_id')?.hasError('required') && employeeForm.get('email_id')?.touched">
                            <small>*Email is required</small></span>
            
                          <small style="color: red; " *ngIf="employeeForm.get('email_id')?.hasError('pattern')">
                            *Email is not Valid
                          </small>
                          </div>
    
                        </div>
                        <div class="col-md-6 mb-4 pb-2">
                          
                          <div class="form-outline">
                            <label class="form-label" >Date Of Birth</label>
                            
                            <input type="date"  formControlName="date_of_birth"  class="form-control " >
                            <span style="color: red;"
                            *ngIf="employeeForm.get('date_of_birth')?.hasError('required') && employeeForm.get('date_of_birth')?.touched">
                            <small>*DOB is required</small></span>

                          </div>
    
                        </div>
                      </div>



                    <div class="row">
                        <div class="col-md-6 mb-4 pb-2">
    
                          <div class="form-outline">
                            <label class="form-label" for="form3Examplev2">Gender</label>
                            <div class="form-check">
                                <input type="radio" formControlName="gender" class="form-check-input" name="gender" value="Male" >Male
                                <label class="form-check-label" for="radio1"></label>
                              </div>
                              <div class="form-check">
                                <input type="radio" formControlName="gender" class="form-check-input"  name="gender" value="Female">Female
                                <label class="form-check-label" for="radio2"></label>
                              </div>
                            
                          </div>
    
                        </div>


                        
                        <div class="col-md-6 mb-4 pb-2">
                          
                          <div class="form-outline">
                           
                                <label  class="form-label" for="">Employee Status</label>
                           
                                <div class="form-check">
                                    <input type="radio" formControlName="status" class="form-check-input"  name="status" value="Active" checked>Active
                                    <label class="form-check-label" for="radio1"></label>
                                  </div>
                                  <div class="form-check">
                                    <input type="radio" formControlName="status" class="form-check-input"  name="status" value="Inactive">Inactive
                                    <label class="form-check-label" for="radio2"></label>
                                  </div>
                          </div>
    
                        </div>
                      </div>
  
                  </div>
                </div>
                <div class="col-lg-6 bg-indigo text-white">
                  <div class="p-5">
                   
  
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
  
                        <div class="form-outline">
                          <label class="form-label" for="form3Examplev2">Country Code</label>
                          <select class="form-select" formControlName="country_code" aria-label="Default select example">
                              
                              <option Selected value="+91">India +91</option>
                              <option value="USA +1-808">USA +1-808</option>
                              <option value="Japan +81">Japan +81</option>
                              <option value="Spain +34">Spain +34</option>
                              <option value="Russia +7">Russia +7</option>
                          </select>
                          
                        </div>
  
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
  
                        <div class="form-outline">
                            <label class="form-label" >Contact</label>
                          <input type="text"  formControlName="contact" class="form-control " placeholder="Contact Number"/>
                          <span style="color: red;"
                          *ngIf="employeeForm.get('contact')?.hasError('required') && employeeForm.get('contact')?.touched">
                          <small>*Contact is required</small></span>
                          <small style="color: red; " *ngIf="employeeForm.get('contact')?.hasError('pattern')">
                            *Please, Enter 10 digit Mobile Number
                          </small>
                        </div>
  
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-5 mb-4 pb-2">
  
                        <div class="form-outline">
                            <label class="form-label" >Choose Department</label>
                            <select class="form-select" formControlName="department"  aria-label="Default select example">

                              
                                <option value="UI/UX">UI/UX</option>
                                <option value="NodeJs">NodeJs</option>
                                <option value="Machine Learning">Machine Learning</option>
                                <option value="Devops">Devops</option>
                                <option value="Sales">Sales</option>
                            </select>
                               
                        </div>
  
                      </div>
                      <div class="col-md-7 mb-4 pb-2">
  
                        <div class="form-outline form-white">
                            <div class="form-check">
                                <label class="form-label" >Primary Skills</label>
                                <select class="form-select" formControlName="primary_skill" aria-label="Default select example">
                                
                                    <option value="HTML">HTMl</option>
                                    <option value="Angular">Angular</option>
                                    <option value="NodeJs">NodeJS</option>
                                    <option value="Python">Python</option>
                                    <option value="CSS">CSS</option>
                                </select>
                                 
                              </div>
                        </div>
  
                      </div>
                    </div>

  
                    <div class="row">
                      <div class="col-md-5 mb-4 pb-2">
  
                        <label class="form-label" for="form3Examplev2">Reporting Manager</label>
                            <select class="form-select" formControlName="reporting_manager" aria-label="Default select example">
                                
                                <option value="Anurag">Anurag</option>
                                <option value="Shalni">Shalni</option>
                                <option value="Vaibhav">Vaibhav</option>
                                <option value="Akanksha">Akanksha</option>
                                
                            </select>
  
                      </div>
                      <div class="col-md-7 mb-4 pb-2">
  
                        <div class="form-outline form-white">
                            <label class="form-label" for="dateofbirth">Date of Joining</label>
                            
                            <input type="date" formControlName="date_of_joining" class="form-control ">
                        </div>
  
                      </div>
                    </div>
  
                    
  
  
                    <button  class="btn btn-light btn-lg"
                      data-mdb-ripple-color="dark" [disabled]="!employeeForm.valid"  (click)="addEmployee()">{{actionBtn}}</button>
  
                  </div>
                </div>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>