p {
    font-family: Lato;
  }
  .table,.container{
    margin-top:20px; 
  }
  .btn{
    margin-right:20px; 
    margin-top: 20px;
  }
  .cancel{

    float:right;
    background-color: Transparent;
    margin-right: 2%;
    margin-top:1%;
    margin-bottom: 10%;
    border: none;
   
   
  }
  .cancel:hover{
    display: block;
    background-color: rgb(147, 147, 224);
    
  }