<div class="flex-container">

	<div class="box1">
		<h2 >Employee Details Bar Graph</h2>
<div class="container">

	<div class="d-flex">
		<div class="col">
			<div class="card">
				<div class="card-body p-1 m-0">
					<canvas id="bar"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>

<button (click)="update_bar()" >fetch </button>
</div>

<div class="box2">
	<h2>Primary Skills Pie Chart</h2>
	<div class="container">

		<div class="d-flex">
			<div class="col">
				<div class="card">
					<div class="card-body p-1 m-0">
						<canvas id="pie"></canvas>
					</div>
				</div>
			</div>
		</div>

</div>
<button (click)="update_pie()">fetch</button>
</div>



